.sidebar{
  position: fixed;
  left: 0px;
  bottom:0px;
  top:55px;
  background-color: white;
  width: 72px;
  padding-top: 5px;
  z-index: 200px;

  background-color:white;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color:#dedede;
}